<div class='well center'>
  <h2>Welcome to tha smoke hizzouse!</h2>
  <p>
    Wantz to learn more about what we do in tha hood yo?
  </p>
  <p>
    <a class='btn btn-primary' href='/home/about'>Learn more &raquo;</a>
  </p>
</div>
